@use "src/scss/main" as *;

.container {
  min-height: 44rem;
  max-width: calc(100dvw - 5rem);
  padding-inline: 1.875rem;
  overflow-x: scroll;
  position: relative;

  background-color: #fff;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  border: 1px solid rgba(33, 63, 125, 0.06);

  .filter-form {
    @include flex(column, flex-start, flex-start, 1.25rem);

    position: absolute;
    z-index: 99;
    top: 3.75rem;
    width: 16.875rem;
    padding: 1.875rem 1.25rem;
    background: white;
    border-radius: 0.25rem;
    border: 1px solid colop-opacity($secondary-color, 86%);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding-block: 1.5rem;

    > div {
      @include flex(row, flex-start, flex-start, 0.625rem);
      padding-right: 2rem;

      span {
        text-align: left;
        font-size: 0.75rem;
        font-weight: 600;
        color: $secondary-color;
        text-transform: uppercase;
        white-space: nowrap;
      }

      button {
        @include square(1rem);
        display: inline-block;
        // background-color: $secondary-color;
        border-radius: 0.25rem;
      }
    }

    &:last-child {
      div {
        display: none;
      }
    }
  }
}
