@use "src/scss/main" as *;

.container {
  @include flex(column, space-between, center, 1rem);
  max-width: calc(100dvw - 5rem);

  @include for-md-up {
    @include flex(row, space-between, center, 1rem);
    margin-top: -1.5rem;
  }

  div:first-child {
    @include flex(row, flex-start, center, 0.625rem);

    color: $secondary-color;
    font-size: 0.875rem;

    span {
      @include flex(row, center, center, 1.125rem);

      font-weight: 500;
      color: $text-color;
      padding: 0.4rem 0.75rem;
      background-color: color-opacity($text-color, 90%);
      border-radius: 0.25rem;
    }
  }

  .pagination {
    @include flex(row, center, center, 1.25rem);

    padding: 1rem 0;
    max-width: 65rem;
    overflow: hidden;

    li,
    .page {
      list-style: none;
      font-size: 1rem;
      color: color-opacity($secondary-color, 40%);
      border: none;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }

    .selected {
      color: $secondary-color;
    }

    .previous,
    .next {
      @include square(1.5rem);
      @include flex(row, flex-center, flex-center, 0);

      padding: 0.3rem;
      background-color: color-opacity($text-color, 90%);
      border-radius: 0.25rem;
    }
  }
}
