@use "src/scss/main" as *;

.dashlink {
  @include flex(row, flex-start, center, 0.625rem);

  width: 100%;
  font-weight: 400;
  padding: 0.625rem 1.875rem;
  color: color-opacity($text-color, 40%);
  position: relative;

  div {
    @include square(1rem);
    border-radius: 0.25rem;

    &:first-child {
      display: none;
    }
  }

  &:hover,
  &--active {
    color: $text-color;
    background-color: color-opacity($primary-color, 94%);
  }

  &:hover {
    div:first-child {
      display: block;
      height: 100%;
      width: 0.1875rem;
      background-color: $primary-color;
      position: absolute;
      inset-block: 0;
      left: 0;
    }
  }

  &--active {
    div:first-child {
      display: block;
      height: 100%;
      width: 0.1875rem;
      background-color: $primary-color;
      position: absolute;
      inset-block: 0;
      left: 0;
    }
  }
}
