@use "src/scss/main" as *;

.headerCard {
  padding: 1.88rem;
  padding-bottom: 0;
  border-radius: 0.25rem;
  background: white;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(33, 63, 125, 0.06);
  position: relative;
  max-width: calc(100dvw - 5rem);
  width: 100%;
  min-height: 13.8rem;
  overflow-x: scroll;

  @include for-lg-up {
    max-width: calc(100dvw - 23rem);
  }

  &__actions {
    @include flex(row, flex-end, center, 1.25rem);

    position: absolute;
    top: -5em;
    right: 0;

    button {
      font-weight: 600;
      font-size: 0.875rem;
      text-transform: uppercase;
      letter-spacing: 0.0875rem;
      border-radius: 0.5rem;
      padding: 0.75rem 1rem;

      &:first-child {
        color: $error;
        border: 1px solid $error;
      }

      &:last-child {
        color: #39cdcc;
        border: 1px solid #39cdcc;
      }
    }
  }

  &__info {
    @include flex(row, flex-start, center, 0);
    margin-bottom: 3rem;

    > div {
      @include flex(column, center, flex-start, 0.5rem);
      padding-inline: 1.88rem;

      &:first-child {
        @include flex(row, flex-start, center, 1.25rem);
        padding-left: 0;

        div:first-child {
          @include square(6.25rem);
          @include flex(column, center, center, 0);
          min-width: 6.25rem;

          background-color: color-opacity($secondary-color, 84%);
          border-radius: 100%;
        }

        p {
          color: $text-color;
          font-size: 1.375rem;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 0.5rem;
          text-transform: capitalize;
        }

        span {
          color: $secondary-color;
          font-size: 0.875rem;
        }
      }

      &:nth-child(2) {
        padding-block: 1rem;
        border-inline: 1px solid color-opacity($secondary-color, 80%);

        p {
          font-size: 0.875rem;
          color: $secondary-color;
          font-weight: 500;
        }
      }

      &:nth-child(3) {
        color: $text-color;

        p {
          font-size: 1.375rem;
          font-weight: 500;
        }

        span {
          font-size: 0.75rem;
          font-weight: 400;
        }
      }
    }
  }

  &__tabs {
    @include flex(row, space-between, flex-end, 0);

    div {
      padding-inline: 1.5rem;
      padding-bottom: 0.625rem;

      span {
        white-space: nowrap;
      }

      &:first-child {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}
