@use "src/scss/main" as *;

.dashLayout {
  min-height: 100dvh;
  background-color: $background;
  display: grid;
  grid-template-columns: 18rem 1fr;
  place-content: start;

  &__header {
    height: 6.25rem;
    background-color: white;
    padding-inline: 1.875rem;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sidebar,
  &__main {
    max-height: calc(100dvh - 6.25rem);
    overflow-y: scroll;
  }

  &__sidebar {
    padding-block: 2.4rem;
    background-color: white;
  }

  &__main {
    @include grid-display(1, auto, 2.5rem);

    padding: 3.75rem;
    min-height: calc(100dvh - 6.25rem);

    // div:nth-child(2) {
    //   max-width: 65rem;
    // }
  }
}
