@use "src/scss/main" as *;

.row {
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  position: relative;

  &:last-child {
    border: none;
  }

  td {
    font-weight: 400;
    font-size: 0.875rem;
    padding-block: 1rem;
    color: $secondary-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1.5rem;

    &:last-child {
      padding-right: 0;
    }
  }

  &__status {
    padding-right: 1.5rem;
  }

  &__icon {
    @include flex(row, flex-end);
    div {
      @include square(1.25rem);

      // background-color: $secondary-color;
      border-radius: 0.25rem;
    }
  }
}

.row-actions {
  position: absolute;
  z-index: 99;
  top: 0.5rem;
  right: 3rem;
  width: 11.25rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(84, 95, 125, 0.04);
  background: #fff;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
}
