@use "src/scss/main" as *;

.sidebar {
  @include flex(column, flex-start, flex-start, 1rem);

  > div {
    width: 100%;
    padding: 0.625rem 1.875rem;
    margin-bottom: 1.5rem;
  }

  nav {
    width: 100%;
    display: grid;
    gap: 2.5rem;

    h4 {
      font-weight: 500;
      font-size: 0.75rem;
      padding: 0.625rem 1.875rem;
      color: $secondary-color;
      text-transform: uppercase;
    }

    ul {
      display: grid;
      gap: 0.5rem;
    }
  }
}
