.page {
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page h1 {
  font-weight: 500;
}

.page a {
  color: #39cdcc;
}

.page a:hover {
  text-decoration: underline;
}
