@use 'src/scss/main' as *;

.header {
  
  &__actions {
    div {
      @include flex(row, flex-end, flex-end, 3rem);

      width: 1.625rem;
      height: 1.625rem;
      background-color: $text-color;
    }
  }
}