@use "src/scss/main" as *;

.header {
  > div {
    @include flex(row, flex-start, center, 0.81rem);
    width: fit-content;
    margin-bottom: 2rem;
    color: $secondary-color;
    font-size: 1rem;

    div {
      @include size(2rem, 1rem);
      background-color: $secondary-color;
    }
  }

  h2 {
    color: $text-color;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
